<div class="cover">
    <img class="cover-image" src="https://image.tmdb.org/t/p/w500{{ data['popular movies'][random_select]['poster_path'] }}">
    <div class="movie-info">
        <div>
            <h1 class="no-margin movie-title">{{ data['popular movies'][random_select]['title'] }}</h1>
            <h3 class="movie-release no-margin">{{ data['popular movies'][random_select]['release_date'].split("-")[0] }}</h3>
            <p class="movie-desc">{{ data['popular movies'][random_select]['overview'] }}</p>    
        </div>        
        <div>
            <button class="primary">Watch now</button>
        </div>
    </div>
    <div style="background: url(https://image.tmdb.org/t/p/original{{ data['popular movies'][random_select]['backdrop_path'] }}) right center; background-size: cover; width: 100%;">
        <div style="width: 250px; height: 100%; background: linear-gradient(90deg, #1F2960, #1f296000);"></div>
    </div>
</div>
<div style="display: none; justify-content: center; align-items: center; margin-top: 10px;">
    <div style="background-color: gray; padding: 10px; display: flex; border-radius: 14px;">
        <div class="slideshow-button active"></div>
        <div class="slideshow-button"></div>
        <div class="slideshow-button"></div>
        <div class="slideshow-button"></div>
        <div class="slideshow-button"></div>
    </div>
</div>