<div class="movie-item" onclick="window.location.href = '/watch/{{ id }}'">
    <div style="height: 120px; width: 250px; background: url(https://image.tmdb.org/t/p/w500{{ backdrop_path }}) center center; background-size: cover;">
    </div>
    <div style="color: white; display: flex; justify-content: space-between; background: radial-gradient(circle at center, #222741, #24283D); padding: 10px;">
        <p class="no-margin" style="font-weight: 600; white-space: nowrap; font-size: 14px; text-overflow: ellipsis; max-width: 180px; overflow: hidden;">{{ movie_title }}</p>
        <div>
            <p class="no-margin">{{ vote_average }}</p>
        </div>
    </div>
</div>